@tailwind base;
@tailwind components;

html, body { background-color: white;}

.banner { background-color: white;
    font-size: 2em;
    font-family: "Arial Black", sans-serif;
    margin: 0.2em;
    padding: 0.2em;
}

.search-widget {
    font-family: "Arial", sans-serif;
    margin: 0.2em;
    padding: 0.4em;
    @apply bg-blue-200
}

.widget-button {
    font-family: "Arial", sans-serif;
    padding: 0.2em 0.4em;
}

.search-widget div {
    @apply mb-1 ml-1
}

.search-widget input {
    border: gray solid 1px;
}

.link-widget {
    @apply mb-2 rounded bg-blue-50 p-2 mb-4
}

.author-link-widget {
    @apply mb-4
}

@tailwind utilities;